<aside class="sidebar">
  <nav class="sidebar-nav">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item"> 📊 Dashboard </a>
    <a routerLink="/auth/login" routerLinkActive="active" class="nav-item"> 🔓 Login </a>
    <a routerLink="/auth/register" routerLinkActive="active" class="nav-item"> ✍️ Register </a>
    <a routerLink="/projects" routerLinkActive="active" class="nav-item"> 📁 Proyectos </a>
    <a routerLink="/tasks" routerLinkActive="active" class="nav-item"> ✅ Tareas </a>
  </nav>
</aside>
